# ---------- Dépendances Python ----------
# Versions épinglées pour reproductibilité.
# pandas : manipulation CSV/ETL ; pymongo : client MongoDB ; pyyaml : lire config.yaml ;
# python-dotenv : charger .env ; pytest : tests

pandas==2.2.2
pymongo==4.8.0
python-dotenv==1.0.1
pyyaml==6.0.2
pytest==8.3.2
